.text-muted {
    color: #999;
}

.table-fixed {
    table-layout: fixed;
}

.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.monthview-primary-with-event {
    background-color: #3a87ad;
    color: white;
}

.monthview-current {
    background-color: #f0f0f0;
}

.monthview-selected {
    background-color: #009900;
    color: white;
}

.monthview-datetable td.monthview-disabled {
    color: lightgrey;
    cursor: default;
}

.monthview-datetable th {
    text-align: center;
}

.monthview-datetable td {
    cursor: pointer;
    text-align: center;
}

.monthview-secondary-with-event {
    background-color: #d9edf7;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
