.table-fixed {
  table-layout: fixed;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.calendar-hour-column {
  width: 50px;
  white-space: nowrap;
}

.calendar-event-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.calendar-event {
  position: absolute;
  padding: 2px;
  cursor: pointer;
  z-index: 10000;
}

.calendar-cell {
  padding: 0 !important;
  height: 37px;
}

.weekview-swiper {
  height: 100%;
}

.weekview-slide-container {
  display: block !important;
}

.weekview-allday-label {
  float: left;
  height: 100%;
  line-height: 50px;
  text-align: center;
  width: 50px;
  border-left: 1px solid #ddd;
}

[dir="rtl"] .weekview-allday-label {
  float: right;
  border-right: 1px solid #ddd;
}

.weekview-allday-content-wrapper {
  margin-left: 50px;
  overflow: hidden;
  height: 51px;
}

[dir="rtl"] .weekview-allday-content-wrapper {
  margin-left: 0;
  margin-right: 50px;
}

.weekview-allday-content-table {
  min-height: 50px;
}

.weekview-allday-content-table td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.weekview-header th {
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

.weekview-allday-table {
  height: 50px;
  position: relative;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.weekview-normal-event-container {
  margin-top: 87px;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  font-size: 14px;
}

.scroll-content {
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.table > tbody > tr > td.calendar-hour-column {
  padding-left: 0;
  padding-right: 0;
  vertical-align: middle;
}

@media (max-width: 750px) {
  .weekview-allday-label,
  .calendar-hour-column {
    width: 31px;
    font-size: 12px;
  }

  .weekview-allday-label {
    padding-top: 4px;
  }

  .table > tbody > tr > td.calendar-hour-column {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    line-height: 12px;
  }

  .table > thead > tr > th.weekview-header {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }

  .weekview-allday-label {
    line-height: 20px;
  }

  .weekview-allday-content-wrapper {
    margin-left: 31px;
  }

  [dir="rtl"] .weekview-allday-content-wrapper {
    margin-left: 0;
    margin-right: 31px;
  }
}
